.circle {
    bottom: 150px;
    cursor: pointer;
    display: none;
    position: fixed;
    left:10px;
    overflow:hidden;
    z-index: 5;
  }
  .circle svg{
    fill:#5eff01;
    font-size:3em;
  }
 
  .circle svg:hover {
    fill: #95ff57;
  }